<!-- add header -->
<%- include('includes/_header') %>
<!-- end header -->
<!-- Main section -->
<main id="main">
    <h2>Calculate Drugs to purchase</h2>
    <p>For how many days do you want to purchase drugs?</p>
    <form id="drug_days">
        <input type="number" id="days" value="30">
        <button type="submit">Enter</button>
    </form>

    <table id="purchase_table" style="display: none;">	
        <thead>
            <tr>
                <th>ID</th>
                <th>Drug Name</th>
                <th>Cards to Buy</th>
                <th>Packs to Buy</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dữ liệu sẽ được cập nhật qua Ajax -->
        </tbody>
    </table>
</main>
<!-- End main section -->
<!-- add footer -->
<%- include('includes/_footer') %>
<!-- end footer -->